<<<<<<< HEAD
.App {
    font-family: sans-serif;
    text-align: center;
  }
=======
.App {
    font-family: sans-serif;
    text-align: center;
  }
>>>>>>> 0c6707eba90b234c2716823429e7ef33bbe71cb4
  